################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/avatarjson2/FileContentIndex
/imgs
/.vs/slnx.sqlite
